body {
	color: #ddd;
/*	background: url("wall.png") no-repeat center center fixed; */
	background: #222;
}

#center {
        font-family: "Noto Sans";
        font-size: 22px;
	float: left;
	display: inline-block;
	width: 300px;
	height: 70px;
	position: absolute;
	top: 20%;
	bottom: 80%;
	left: 0;
	right: 0;
	margin: auto;
	text-align: center;
}
